@import url('https://fonts.googleapis.com/css2?family=Actor&family=Alegreya&family=Cormorant:wght@300;400&display=swap');
body{
    background-color: #FFF5EA;
}
#busca{
    height: 50px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
=}
hr{
    border: 1px dashed #99C1B9;
}
#titulo{
    font-family: 'Actor', serif;
    color: #678881;
    font-size: 65px;
}