<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">
<head>
    {% block title %}<title>Portuguesismos</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
    {% block style %}{% endblock %}
</style>
<body>
    {% block header %}
    <header>
        <div id="titulo"><a href="{% url 'home' %}">Portuguesismos</a></div>
    </header>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>