{% extends "base.html" %}
{% block style %}
body{
    position: relative;
    margin: auto;
}
li{
    list-style-type: none;
}
.resultado{
    width: 85%;
    margin: 20px 120px;
    font-family: 'Alegreya', serif;
    font-size: 24px;
}
#titulo{
    margin: 20px 0 40px 120px;
}
}
@media only screen and (max-width: 600px) {
    #titulo{
        margin-left: 10px;
    }
}
{% endblock %}
{% block content %}
<div class="resultado">
    <div style="font-size: 30px;"><b>Categorias</div>
    <hr>
    {% for categoria in object_list %}
    <li><a href="{{ categoria.get_absolute_url }}">{{ categoria.nome }}</a></li><br>
    {% endfor %}
</div>
{% endblock %}