<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">
<title>Portuguesismos</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
body{
    background-color: #FFF5EA;
}
header{
    font-family: 'Actor', serif;
    font-size: 65px;
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: #678881;
}
input{
    border-radius: 20px;
    border: 0;
    width: 600px;
    height: 7%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
}
</style>
<body>
    <header>Portuguesismos</header>
    <input></input>
</body>
</html>