{% extends "base.html" %}
{% block style %}
header{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
}
#busca{
    height: 50px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    font-size: 20px;
    float: left;
    border-radius: 20px;
    border: 0;
    width: 92%;
    height: 100%;
    position: absolute;
    margin: 0;
}
.fa-search{
    float: right;
    position: relative;
    padding: 15px;
    color: #678881;
    margin-top: 2px;
    border: none;
    background: none;
}
button:hover{
    cursor: pointer;
    color: #23AD90;
}
@media only screen and (max-width: 600px) {
    #busca{
        width: 95%;
    }
    .fa-search{
        padding-right: 0px;
    }
}
{% endblock %}
{% block content %}
    <div id="busca">
        <form action="{% url 'busca' %}" method="get">
            <input name="q" type="text">
            <button type="submit" class="fas fa-search"></button>
        </form>
        
    </div>

    <script src="https://kit.fontawesome.com/e107737398.js" crossorigin="anonymous"></script>
{% endblock %}