<style>
    @import url('https://fonts.googleapis.com/css2?family=Actor&family=Alegreya&family=Cormorant:wght@300;400&display=swap');body{
    background-color: #FFF5EA;
    position: relative;
    margin: auto;
    width: 70%;
}
hr{
    border: 2px dashed #99C1B9;
}
.termo{
    font-family: 'Cormorant', serif;
    font-size: 65px;
}
.classe-gramatical{
    font-family: 'Actor', serif;
    font-size: 22px;
    text-transform: lowercase;
}
.traducao{
    font-family: 'Alegreya', serif;
    font-size: 24px;
}
.definicao{
    font-family: 'Alegreya', serif;
    font-size: 24px;
}
</style>
<body>
<h1>Portuguesismos</h1>

<div class="termo">{{ object.termo }}</div>
<div class="classe-gramatical">{{ object.classe_gramatical }}</div>
<hr>
<div class="traducao"><b>tradução:</b> {{ object.traducao }}</div>
<div class="definicao"><b>definição: </b>{{ object.definicao }}</div>
</body>